<div class='mt-4'>
    <table class='table'>
        <thead>
            <tr style="text-align: center;">
                <th scope='col'>#</th>
                <th scope='col'>Slug</th>
                <th scope='col'>Image</th>
                <th scope='col'></th>
            </tr>
        </thead>
        <tbody style="vertical-align: middle;">
            {{#each news}}
            <tr style="text-align: center;">
                <th scope='row'>{{@index}}</th>
                <td>{{this.slug}}</td>
                <td>
                    <a href="/news/{{this.slug}}">
                    <img src="{{this.image}}" alt="image" style="height: 50px; border-radius: 5px;">
                    </a>
                </td>
                <td>
                    <a href="/news/{{this._id}}/edit" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#deleteConfirm">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Delete Confirm --}}

<div class="modal" tabindex="-1" id="deleteConfirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Delete News?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Modal handler --}}

<script>
    var id = '';
    const modal = document.getElementById('deleteConfirm')
if (modal) {
  modal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const recipient = button.getAttribute('data-bs-id')
    id = recipient;
  })
}
var btnDeleteNews = document.querySelector('.btn-danger');

function deleteNews() {
    fetch(`/news/${id}`, {
        method: "DELETE",
        body: null,
        headers: {
        "Content-type": "application/json"
        }
    })
    .then(() => location.reload())
    .catch(() => console.log('bug!!!'));
}

btnDeleteNews.onclick = deleteNews;

</script>